body {
  background-color: #e1dcb8;
  background: url(../images/bg-glow.png) repeat-x center top fixed, url(../images/bg-texture.png) repeat center top fixed;
  //font-family: 'Lato', 'Helvetica Neue', helvetica, arial, sans-serif;
  font-family: proxima-nova-1, proxima-nova-2, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  line-height: 16px;
  font-weight: 300;
  color: rgba(0,0,0, 0.6);
  min-width: 1200px;
  min-height: 1500px;
  text-shadow: 0 1px 0 rgba(255,255,255, 0.3);
  margin: 0;
  zoom: 100%;
}

.post-image {
    background-color: #F8F8F8;
    border: 1px solid #CCC;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

#header-top {
  width: auto;
  height: 40px;
  position: relative;
  top: 0px;
  left: 0px;
  padding: 20px;
  background: rgba(0,0,0, 1);
  font-color: white;
}

#square_post {
	float: left;
	width: 300px;
	height: 250px;
	border: 1px solid black;
}

#header-menu {
  color: rgb(255, 255, 255);
}

#header-menu a {
  color: rgb(255, 255, 255);
}

#header-menu a:hover {
  color: rgb(213, 109, 73);
}

#header-top ul {
  font-family: 'Lato', 'Helvetica Neue', helvetica, arial, sans-serif;
  list-style-type: none;
  color: rgb(255, 255, 255);
  padding: 0;
  margin: 0 0 10px 0;
}

#right-main {
  display: table-cell;
  vertical-align: top;
  height: 1500px;
//  min-width: 400px;
  max-width: auto;
  margin: 0 150px 0 50px;
  padding:20px 40px;
}

#header-main {	
}

#main-middle {
	display: table;
}

#wrapper {
//  position: relative;
}

h1, h2, h3, h4, h5, h6, .toc-h2 {
  font-family: 'Arvo', courier, serif;
  font-weight: normal;
  color: #303030;
}

#line-span {
  border-bottom: 1px solid rgba(0,0,0, 0.15);
  padding:0 0 10px 0;
  position:relative;
  margin-bottom: 10px;
}

h1 {
  border-bottom: 1px solid rgba(0,0,0, 0.15);
  padding:0 0 15px 0;
  position:relative;
  margin-bottom: 15px;
  line-height: 35px;
}
#wrapper h2 {
  padding-top: 30px;
}
#wrapper h3{
  padding-top: 20px;
}
h3,h4,h5,h6 {
  margin-bottom:10px;
}
h1 span {
  font-weight:normal;
  font-size: 16px;
  background: rgba(0,0,0, 0.2);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0, 0.15);
  padding:5px 15px;
  border-radius:3px;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: rgba(255,255,255, 0.75) 0 1px 0, rgba(0,0,0, 0.15) 0 1px 3px inset;
}

pre {
//  border:1px solid #000;
//  background: #222;
//  color: #fff;
//  text-shadow: none;
//  padding-right: 30px;
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

p {
  margin:15px 0;
}
li {
  margin:10px 0;
}
h2 a, h3 a {
  color: #303030;
}
a {
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0, 0.1);
  color: #2570a8;
}
a:hover {
  border-color: rgba(0,0,0, 0.25);
  color: #af813a;
}

a.dsq-widget-thread {
  font-weight: bold;
  font-size: 12px;
}
.example {
  font-weight:bold;
  font-size:12px;
}

#about-me {
  display: block;
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
}

#blurb {
}

#toc {
  display: table-cell;
  vertical-align: top;
  width: 300px;
  min-width: 200px;
  max-width: 300px;
  font-size: 11px;
  line-height: 15px;
  padding: 0 20px 0 20px;
  background: rgba(0,0,0, 0.08);
  box-shadow: rgba(0,0,0,0.15) -1px 0 8px inset;
}
#toc ul {
  font-family: 'Lato', 'Helvetica Neue', helvetica, arial, sans-serif;
  list-style-type: none;
  padding: 0;
  padding-bottom: 10px;
  margin: 0 0 10px 0;
  border-bottom: 1px solid rgba(0,0,0, 0.15);
}
#toc li {
  margin:0;
  padding: 0;
}
#toc li.toc-h2 {
  border-top: 1px solid rgba(0,0,0, 0.15);
}
#toc li.toc-h3 {
  margin-left: 10px;
}
#toc a {
  color: rgba(0,0,0, 0.6);
  text-decoration: none;
  display: block;
  border: 0 none;
}
#toc a:hover, #toc a:focus, #toc a:active {
  background-color: rgba(0, 0, 0, .04);
  color: #2570a8;
}
#toc h2 a {
  color: rgba(0,0,0, 0.25);
  padding: 10px 0;
}
#toc h2 a:hover {
  background: none;
}
table {
  margin:20px 0;
  border-left: 1px solid #C9C6A3;
  box-shadow: rgba(0,0,0,0.1) 0 2px 5px;
}
th,td {
  padding:7px;
  border-right: 1px solid #C9C6A3;
  border-bottom: 1px solid #C9C6A3;
}
th {
  background: #C9C6A3;
}
tr.even {
  background:rgba(250,250,250,0.2);
}
.event-table th:first-child {
  min-width:150px;
}
#avatars {
  margin: 20px 0;
}
.avatar {
  box-shadow: rgba(0,0,0,0.1) 0 2px 5px;
  border: 2px solid rgba(0,0,0, 0.15);
  margin-right: 10px;
  opacity: .8;
}
.avatar:hover, .avatar:focus {
  opacity: 1;
}
#avatars a {
  border-bottom: none;
}
#download {
  padding: 30px 0 0;
}
p.btn {
  font-family: 'Arvo', courier, serif;
  -moz-box-shadow: inset 0px 1px 0px 0px #CCC, rgba(0, 0, 0, 0.1) 0 2px 5px;
  -webkit-box-shadow: inset 0px 1px 0px 0px #CCC, rgba(0, 0, 0, 0.1) 0 2px 5px;
  box-shadow: inset 0px 1px 0px 0px #CCC, rgba(0, 0, 0, 0.1) 0 2px 5px;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #616161), color-stop(1, #313131) );
  background:-moz-linear-gradient( center top, #616161 5%, #313131 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#616161', endColorstr='#313131');
  background-color:#616161;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #333;
  display:inline-block;
  color:#777777;
  padding:12px 14px 6px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffffff;
  cursor: pointer;
}
p.btn:active {
  box-shadow:none;
}
p.btn a {
  display: block;
  border: none;
  padding: 6px 0;
  font-size:18px;
  color: #fff;
  text-shadow: #000 0 -1px 0;
}
p.btn a.zip {
  min-height: 32px;
  padding: 6px 0 0 37px;
  background: url(../images/zip.png) no-repeat;
}
p.btn-small {
  padding:2px 8px;
}
p.btn-small a {
  font-size:14px;
}
