<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
    <meta name="description" content="Bash Profile is a tech website designed to provide you with the latest news and tech tips from around the web.">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,400italic|Arvo:400,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/docs/css/main.css">
    <link rel="stylesheet" href="/docs/css/pygments.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31023368-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body>
	<div id="header-top">
		<span id="header-menu">
			<a href="/"><img src='/docs/images/bashprofile.png'></a>
		</span>
	</div>
	  
	<div id="main-middle">
		
	  <div id="toc">
			<div id="popularthreads" class="dsq-widget"><h2 class="dsq-widget-title">Popular Threads</h2><script type="text/javascript" src="http://bashprofile.disqus.com/popular_threads_widget.js?num_items=5"></script></div>
			
			<script type="text/javascript"><!--
			google_ad_client = "ca-pub-4993986820052195";
			/* bashprofile - sidebar */
			google_ad_slot = "8426538786";
			google_ad_width = 300;
			google_ad_height = 250;
			//-->
			</script>
			<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
			
			<div id="line-span"></div>
			
      <div id="about-me"><a href="http://markmiyashita.com"><img src="http://www.gravatar.com/avatar/dca8ea2ef85135aca16bf2457cdee3eb?s=90" width="90" height="90"></a></div><h4>About Mark Miyashita</h4>
      <div id="blurb">I am currently a student at the University of California, Berkeley studying Electrical Engineering and Computer Science. I am passionate about data, programming, and web development.</div>
			
			<div id="line-span"></div>
			
			<ul>
				<li><a href="http://markmiyashita.com">Personal Website</a></li>
				<li><a href="http://github.com/negativetwelve">Github</a></li>
				<li><a href="http://twitter.com/negativetwelve">Twitter</a></li>
				<li><a href="http://hints.binaryage.com">Mac Hints From BinaryAge</a></li>
			</ul>
	  </div>
	  
	  <div id="right-main">
  		<div id="header-main">

	  	</div>
	    <div id="wrapper">
	      {{content}}
	    </div>
	  </div>
	  
		
	</div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="/docs/js/main.js"></script>

</body>

</html>
