<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> 	<html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	<!-- Force Latest IE rendering engine -->
	<title>{{page.title}}</title>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

  <link href="http://feeds.feedburner.com/bash_profile" rel="alternate" title="bash_profile" type="application/atom+xml" /> 

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 

    <!-- Place this tag in the <head> of your document -->
    <script type="text/javascript">
    window.___gcfg = {lang: 'en'};
    (function() 
    {var po = document.createElement("script");
    po.type = "text/javascript"; po.async = true;po.src = "https://apis.google.com/js/plusone.js";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(po, s);
    })();</script>

	<link rel="stylesheet" href="/static/css/skeleton.css">
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/layout.css">
	<link rel="stylesheet" href="/static/css/syntax.css">
</head>
<body>
	<div class="container">	
    <div id='mobile' class='two columns hidden'>
      <ul>
        <li><a href='/'>bash_profile</a></li>
        <li><span class="gray"></span></li>
        <li><a href="mailto:negativetwelve@gmail.com">negativetwelve@gmail.com</a></li>
        <li><a href="http://twitter.com/negativetwelve">@negativetwelve</a></li>
      </ul>
    </div>

		<div class="four columns sidebar">
      <section>
        <h2><a href='/'>bash_profile</a></h2>

        <ul>
          <li><span class="gray"></span></li>
          <li><a href="mailto:negativetwelve@gmail.com" onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Sidebar Email']);">negativetwelve@gmail.com</a></li>
        </ul>

          <div class="about-me"><a href="http://markmiyashita.com"><img src="http://www.gravatar.com/avatar/dca8ea2ef85135aca16bf2457cdee3eb?s=76" width="76" height="76"></a>
          <h4>About Mark</h4>
          I am currently a student at the University of California, Berkeley studying Electrical Engineering and Computer Science. I am passionate about data, programming, and web development.<br/>
            <a href="http://markmiyashita.com">Read More »</a>
          <div class="thats-me arrow"></div>                    
        <br/></div>

        <ul>
          <li><!-- Place this tag where you want the badge to render -->
<div class="g-plus" data-href="https://plus.google.com/101180624276428786239?rel=author" data-width="170" data-height="69"></div></li>
          <li><a href="http://github.com/negativetwelve" onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Sidebar Github']);" title="I share and fork code here">Github</a></li>
          <li><a href="http://twitter.com/negativetwelve" onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Sidebar Twitter']);" title="You should follow me">Twitter</a></li>
          <li><a href="https://plus.google.com/101180624276428786239?rel=author" onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Sidebar Google+']);">Google +</a></li>
          <li>
            <a href="http://feeds.feedburner.com/bash_profile"
              onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Sidebar
              RSS']);" title="Subscribe to get the latest blog posts
              in to your news reader">RSS</a>
          </li>
          
        </ul>
      </section>
    </div>

    {{ content }}
  </div>

    <!-- Grab Google CDN's jQuery. fall back to local if necessary
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="/static/js/jquery-1.4.2.min.js"%3E%3C/script%3E'))</script>
    -->

    <!-- Google Analytics -->
    <script> var _gaq=[["_setAccount","UA-31023368-1"],["_trackPageview"]]; (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1; g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js"; s.parentNode.insertBefore(g,s)}(document,"script")); </script>
  </body>
</html> 
