---
layout: default
blog: true
---

<header class='ten columns offset-by-four'>
  <h1>{{ page.title }}</h1>
</header>

<div class='five columns offset-by-four gray'>
  {{ page.date | date_to_string }}
</div>

<div class='five columns' id='tweet'>
  <a href="http://twitter.com/share" class="twitter-share-button" data-text="{{ page.title }}" data-count="horizontal" data-via="negativetwelve" onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Post Twitter Share']);">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>

<article class='ten columns offset-by-four'>
  {{ content }}

  <footer>
    <p id='follow'>
      You should follow me on Twitter <a href="http://twitter.com/negativetwelve" onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Post Twitter']);">here.</a>
    </p>
  </footer>
  
  <div class="master-separator"></div>
    <div id="comments">
      <div id="disqus_thread"></div>
        <script type="text/javascript">
          var disqus_shortname = 'bashprofile';
	      var disqus_url = "http://bashprofile.com{{page.url}}/";
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
  
</article>
